<%- include ("../partials/header") %>
<%- include ("../partials/navbar") %>
<% var image, name %>

<div id="main">
    <div class="inner">
        <header>
            <span style="float: right;">
                <% if (image !== undefined) { %>
                    <img style="border-radius: 50%;vertical-align: middle;" src="/public/users/<%= image %>" width="64px" height="64px">
                <% } else { %>
                    <img style="border-radius: 50%;vertical-align: middle;" src="/public/users/user.svg" width="64px" height="64px">
                <% } %> 
            </span>
            <div style="background-image: linear-gradient(to right, red, rgb(156, 10, 156), rgb(209, 70, 214), rgb(212, 130, 223)); -webkit-text-fill-color: transparent; -webkit-background-clip: text; background-clip: text;">
            <a>
                <% if (name !== undefined) { %>
                    <h1>Welcome to Hyve, <%= name %>!</h1>
                <% } else { %>
                    <h1>Welcome to Hyve!</h1>
                <% } %>
            </a>
            </div>
        </header>
        <section class="tiles">
            <article class="style2">
                <span class="image">
                    <img src="/public/images/pic01.jpg" alt="" />
                </span>
                <a href="/generic">
                    <h2><img src = "../../public/images/media_server.svg" width="200px" height="200px"></h2>
                    <div class="content">
                        <p>Watch movies on the Mitra's Media Server</p>
                    </div>
                </a>
            </article>
            <article class="style6">
                <span class="image">
                    <img src="/public/images/pic02.jpg" alt="" />
                </span>
                <a href="/print">
                    <h2><img src = "../../public/images/printer_icon.svg" width="200px" height="200px"></h2>
                    <div class="content">
                        <p>Print documents from a web interface<br>Making dumb &#x1F5A8;&#xFE0F; smart</p>
                    </div>
                </a>
            </article>
            <article class="style3">
                <span class="image">
                    <img src="/public/images/pic03.jpg" alt="" />
                </span>
                <a href="/dashboard">
                    <h2><img src = "../../public/images/AMD.svg" width="200px" height="200px"></h2>
                    <div class="content">
                        <p>Dashboard for the server running this website.</p>
                    </div>
                </a>
            </article>
            <article class="style1">
                <span class="image">
                    <img src="/public/images/pic04.jpg" alt="" />
                </span>
                <a href="/uploads">
                    <h2><img src = "../../public/images/upload.svg" width="200px" height="200px"></h2>
                    <div class="content">
                        <p>Upload a file to the Mitra's Media Server</p>
                    </div>
                </a>
            </article>
            <article class="style5">
                <span class="image">
                    <img src="public/images/pic05.jpg" alt="" />
                </span>
                <a href="/downloads">
                    <h2><img src = "../../public/images/download.svg" width="200px" height="200px"></h2>
                    <div class="content">
                        <p>Download a file to the Mitra's Media Server</p>
                    </div>
                </a>
            </article>
        </section>
    </div>
</div>

<script src="/public/assets/js/toast.js"></script>
<script>
    if (getCookie("hasVisited") === null) {
        var date = new Date();
        date.setTime(date.getTime() + (30*24*60*60*1000));
        var expires = "expires="+ date.toUTCString();
        if (getCookie("name") === null) {
            var site = new URL(window.location.href)
            var name = encodeURIComponent(site.searchParams.get("name"))
            if (name === null || name === "null") {
                document.cookie = `hasVisited=true; expires=${expires}`
            } else {
                document.cookie = `name=${name}; expires=${expires}`
                document.cookie = `hasVisited=true; expires=${expires}`
            }
            name !== null && name !== "null" && name !== "" ? 
                setTimeout(function(){toast(`Welcome to Hyve, ${name}!`, true, "success")}, 1500) : 
                setTimeout(function(){toast(`Welcome to Hyve!`, true, "success")}, 1500)
        }
    } else {
        var name = getCookie("name")
        if (name === null || name === "null") { 
            var date = new Date();
            date.setTime(date.getTime() + (30*24*60*60*1000));
            var expires = "expires="+ date.toUTCString();
            setTimeout(function(){toast("Welcome Back!", true, "success")}, 1500) 
            var site = new URL(window.location.href)
            var n = encodeURIComponent(site.searchParams.get("name"))
            if (n !== null && n !== "null") {
                document.cookie = `name=${n}; expires=${expires}`
                document.cookie = `hasVisited=true; expires=${expires}`
            }
        }
        if (name === "") {
            document.cookie.split(";").forEach(
                function(cookie) { 
                    document.cookie = cookie.replace(/^ +/, "").replace(/=.*/, "=;expires=" + new Date().toUTCString() + ";path=/"); 
                }
            );
            window.location.replace(`http://${window.location.host}`)
        }
        if (name !== null && name !== "null") {
            if (!window.location.href.includes(encodeURIComponent(name))) {
                window.location.replace(`http://${window.location.host}/?name=${name}`)
            } else {
                setTimeout(function(){toast("Welcome Back, " + name + "!", true, "success")}, 1500)
            }
        }
    }

    function getCookie(input) {
        cookies = document.cookie.split("; ")
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].split("=")
            if (cookie[0] === input) {
                return cookie[1]
            }
        }
        return null
    }
</script>

<%- include ("../partials/footer") %>